html {
  box-sizing: border-box;
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

h1 {
  font-style: italic;
  color: #be95bd;
}


h2 {
  font-style: italic;
}

body {
  background-color: white;
  font-family: system-ui;
	margin-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  width: 600px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin-top: 15px;
  margin-bottom: 20px;
  perspective: 1000px;
}

.card {
  width: 18%;
  height: 23%;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card:active {
  transform: scale(0.8);
  transition: transform 0.3s;
}

.card.flip {
  transform: rotateY(180deg)
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.back-face {
  z-index: 1;
}

#restart{
  font-weight: bold;
  font-family: Arial;
  padding: 6px;
  border-color: violet;
  color: white;
  box-shadow: 0 0 40px 40px #9370DB inset, 0 0 0 0 pink;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-style: italic;
}

#restart:hover {
  box-shadow: 0 0 10px 0 purple inset, 0 0 10px 4px violet;
}

#countdown {
  background-color: none;
  font-size: 18px;
  margin: 0;
  color: gray;
}

.darkLightBtn {
  background-color: black;
  color: white;
}

.uni-container {
  display:flex;
  align-items: center;
  font-family: Arial;
  font-size: 20px;
  justify-content: space-evenly;
  width: 1500px;
  position: relative;
  margin-bottom: 0px;
  font-style: italic;
}




